<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add page</title>
</head>
<body>
<h1 style="background-color: saddlebrown; text-align: center"><em>Create group page</em></h1>
<hr>
<form th:action="@{/group/groups/save-group/{id}(id=${group.id})}"
      th:method="post" th:object="${group}">
    <label for="Group name">Group name</label>
    <input type="text" th:field="*{groupName}" id="Group name" placeholder="Enter group name">
    <label for="Date of start">Date of start</label>
    <input type="text" th:field="*{dateOfStart}" id="Date of start" placeholder="Enter date of start">
    <label for="Date of finish">Date of finish</label>
    <input type="text" th:field="*{dateOfFinish}" id="Date of finish" placeholder="Enter date of finish">
    <br>
    <input type="submit" value="Save company">
</form>

</body>
</html>